<h1>글쓰기</h1>

<form method="post" action="/write">
    제목: <input type="text" name="title"><br>
    작성자: <input type="text" name="writer"><br>
    내용:<br>
    <textarea name="content"></textarea><br>
    <button type="submit">저장</button>
</form>
